/*@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@400;500;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

/* Description
01. Root Settings
02. Body & HTML Settings
03. Navbar
04. Slideshow
05. Departments
06. Chart Settings
07. Footer
08. Media Queries
*/

/********** 01. Root Settings **********/

:root {
  --one: #393E41;
  --two: #F7F5F1;
  --three: #A31332;
  --four: #302C47;
  --five: #b64359;

  --black: #000000;
  --white: #ffffff;

  --ff-primary: 'Roboto Mono', monospace;
  --ff-secondary: 'Quicksand', sans-serif;
  --ff-third: 'Poppins', sans-serif;
}

* {
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

/********** 02. Body & HTML Settings **********/
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  top: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 3rem;
}

/********** 03. Navbar **********/

/* navbar */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 2rem;
  background: var(--four);
  color: var(--one);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  z-index: 202;
  font-family: var(--ff-secondary);
}

.headerStart {
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  padding: 0.2rem 2rem;
  color: var(--two);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

.logo {
  font-family: var(--ff-third);
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #e67399;
}

.logoStart {
  font-family: var(--ff-third);
  font-weight: 500;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #e67399;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.nav a {
  color: var(--two);
  transition: 0.2s;
}

.nav a:hover {
  color: var(--five);
  transition: 0.4s;
}

.nav ul {
  display: flex;
  justify-content: flex-start;
}

.nav li {
  padding-right: 6vw;
  font-size: 1.2rem;
  font-weight: 600;
}

.navStart a {
  color: var(--two);
  transition: 0.2s;
}

.navStart li a:hover {
  color: #f082a7;
  transition: 0.4s;
}

.navStart ul {
  display: flex;
  justify-content: flex-start;
}

.navStart li {
  padding-right: 6vw;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Scroller */
header.scroll-up {
  transform: translateY(-100%);
}

header.scroll-down {
  transform: translateY(0);
}


/*---------Main---------*/

main {
  background: var(--two);
}

main h2 {
  text-align: center;
}

/********** 04. Slideshow **********/

/*Slideshow*/
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  height: auto;
}

#slideOne,
#slideTwo,
#slideThree,
#slideFour {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: stretch;
  position: relative;
  height: 80vh;
}

#slideOne {
  background-color: var(--one);
  background-image: linear-gradient(rgba(45, 28, 77, 0.8), rgba(255, 255, 255, 0.1)),
    url(img/slide-1.jpg);
}

#slideTwo {
  background-color: var(--one);
  background-image: linear-gradient(rgba(45, 28, 77, 0.8), rgba(255, 255, 255, 0.1)),
    url(img/slide-2.jpg);
}

#slideThree {
  background-color: var(--one);
  background-image: linear-gradient(rgba(45, 28, 77, 0.8), rgba(255, 255, 255, 0.1)),
    url(img/slide-3.jpg);
}

#slideFour {
  background-color: var(--one);
  background-image: linear-gradient(rgba(45, 28, 77, 0.8), rgba(255, 255, 255, 0.1)),
    url(img/slide-4.jpg);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #adadad;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 200;
}

.next {
  right: 5px;
  border-radius: 3px 3px 3px 3px
}

.prev {
  left: 5px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8)
}

.textSlide {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 1rem 3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  text-align: center;
  background-color: rgba(3, 3, 3, 0.6);
  font-family: var(--ff-third);
}

.textSlide p {
  margin: 0;
}

.textSlide a {
  color: var(--two);
  text-decoration: underline;
}

.titleSlide {
  font-weight: 700;
}

.dotContainer {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b7b3ca;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: var(--four);
}

/*Slideshow Hero Content*/

.hero-content {
  color: var(--white);
  width: 80%;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#hero-headline {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}

#hero-text {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 400;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}



/********** 05. Categories *********/

#departments {
  font-weight: 600;
  font-size: 2.5rem;
  background-image: linear-gradient(90deg, #e67399, #f2a640);
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

.depWrapper {
  margin-left: 14vw;
  margin-right: 14vw;
}

#depContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#depContainer>* {
  margin: 20px;
}

/*objects results*/
.card {
  margin: 1rem;
  position: relative;
  width: 250px;
  height: 250px;
}

.thumb {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.textOverlay {
  flex-grow: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  padding: 30px 10px 10px 10px;
}

.card h3 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--white);
  margin: 0;
  width: auto;
}

.card--effect-1 .thumb {
  transform: scale(.92);
  transition: .4s;
}

.card--effect-1:hover .thumb {
  transform: scale(1);
}

/********** 06. Chart Settings **********/

.chartContent {
  background-color: var(--white);
}

#chart {
  padding-top: 4rem;
  font-weight: 600;
  font-size: 2.2rem;
}

.chart {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 6rem;
}

/********** 07. Footer **********/

.footer-container {
  display: grid;
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 201;
  background-color: var(--four);
  color: var(--two);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr), 1rem;
  grid-template-areas:
    "footer1 footer2"
    "footer1 footer2"
    "footer3 footer3";
}

.footer-container a {
  color: var(--two);
  text-decoration: underline;
}

#footer1 {
  grid-area: footer1;
  height: auto;
  margin: 0 4rem 0 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.footer-container h3 {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

#footer1 p {
  font-size: 1.1rem;
}

#footer2 {
  grid-area: footer2;
  height: auto;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #b64359;
}

#footer2 ul {
  padding: 0 4rem;
  margin: 0;
}

#footer3 {
  grid-area: footer3;
  padding: 1rem;
  color: var(--two);
  background-color: var(--three);
  font-size: 1rem;
  text-align: center;
  width: 100%;
}


/********** 08. Media Queries ***********/


/* Turn off parallax scrolling for all tablets and phones.*/
@media only screen and (max-device-width: 768px) {
  #slideOne,
  #slideTwo,
  #slideThree,
  #slideFour {
    background-attachment: fixed;
  }
}
